<!DOCTYPE html>
<html>
    <head>
        <title> s2008156 Cloud Computing A1 2024 SP1 </title>
        <script src="{{ url_for('static', filename='script.js') }}"></script>
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <h1>New User Registration</h1>
        <form method="POST">
            <label for="regId">ID: </label>
            <input type="text" id="regId" name="regId" required> {{ error_id }}<br>
            <label for="regUsername">ID: </label>
            <input type="text" id="regUsername" name="regUsername" required>{{ error_username }} <br>
            <label for="regPword">Password: </label>
            <input type="text" id="regPword" name="regPword" required>{{ error_password }}<br>
            <input type="file" id="myFile" name="filename">
            <input type="submit" value="Register"> 
            <h3> {{ error_message }} </h3>
        </form>           
    </body>
</html>