<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> s2008156 Cloud Computing A1 2024 SP1 </title>
        <script src="{{ url_for('static', filename='script.js') }}"></script>
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
    <body>
        <nav>
            <h1> The Forum! </h1>
        </nav>
        <div class="content">
            <div class="outerBox">
                <h2> Registration</h2>
                
                <div id="regoBox">
                    <form class="regoForm" method="POST">
                        <br>
                        <p> {{ error_message }} </p>
                        <label for="regId">ID:</label>
                        <input type="text" id="regId" name="regId" required> 
                        <label for="regUsername">Username:</label>
                        <input type="text" id="regUsername" name="regUsername" required>
                        <label for="regPword">Password:</label>
                        <input type="password" id="regPword" name="regPword" required>
                        <label for ="filename"> Avatar:</label>
                        <input type="file" accept="image/*" id="myFile" name="filename" required>
                        <br>
                        <div>
                            <input type="submit" value="Register"> 
                        </div>
                    </form> 
                </div>
            </div>
        </div>
        <footer>
            <div>
                <p>© Phi Van Lam Bui S2008156
                <p>OUA 2024 SP1 - Cloud Computing (RMIT)
            </div>
        </footer>           
    </body>
</html>