<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> s2008156 Cloud Computing A1 2024 SP1 </title>
        <script src="{{ url_for('static', filename='script.js') }}"></script>
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
    <body>
        <h1> {{ name }} </h1>
        <img src="{{ imageSrc }}"><br>
        <form method="POST">
            <label for="oldPword">Old Password: </label>
            <input type="text" id="oldPword" name="oldPword" required> {{ error_oldPword }} <br>
            <label for="newPword">New Password: </label>
            <input type="text" id="newPword" name="newPword" required><br>
            <input type="submit" value="Change Password">
        </form>
        <br>
        <div>
            {% for time in times %}
            <form >
                <label>Post #</lobal>
                <input type="text" id="postID" name= "postID" value="{{loop.index}}">{{loop.index}}
                Timestamp: {{ time['timestamp'] }} <br>
                Subject: {{ time['subject'] }} <br>
                Message: {{ time['message'] }} <br>
                <input type="submit" value="Edit"><br>
            <form>
            {% endfor %}

        </div>
    </body>
</html>