<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> s2008156 Cloud Computing A1 2024 SP1 </title>
        <script src="{{ url_for('static', filename='script.js') }}"></script>
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
    <body>
        <header>
            <h1> The Forum! </h1> <button><a href="https://s2008156-cca1.ts.r.appspot.com/">TASK 1</a></button> <button><a href="https://s2008156-cca1-2.ts.r.appspot.com/">TASK 2</a></button>
        </header>
        <div id="userAdminContent">
            <div class="profileBlock">
                <h1 class="greeting"> {{ name }} </h1>
                <img id="userAdminImage" src="{{ imageSrc }}">
                <form class ="passwordChange" enctype="multipart/form-data" method="POST">
                    
                    <label for="oldPword">Old Password: </label>
                    <input type="password" id="oldPword" name="oldPword" required>
                    <label for="newPword">New Password: </label>
                    <input type="text" id="newPword" name="newPword" required><br>
                    <div>
                        <input type="submit" value="Change Password">
                        <input type="hidden" name= "postID" value="0">
                        <br>
                        {{error_message}}
                        
                    </div>
                </form><br>
            </div>
            <br>
            
            <div id="editMsgBlock">
                <div class="outerBox">
                    <h2>Edit Post</h2>
                    <form class="postForm" enctype="multipart/form-data" method="POST">
                        <div><input type="hidden" id="postID" name= "postID" value=""></div>
                        <div id="editPostTime">Posted on: </div>
                        <label for="newSubject">Subject: </label>
                        <input type="text" id="editPostSubject"  name="postSubject" value="" required disabled>
                        <label for="newMessage">Message: </label>
                        <textarea type="text" id="editPostMessage" name="editPostMessage" value="" required disabled></textarea>
                        <div><div><input type="hidden" id="postImgSrc" name= "postImgSrc" value=""></div></div>
                        <img class="postImg" id= "editPostImg" src="" >
                        <label for="filename">Image: </label>
                        <input type="file" accept="image/*" id="myFile" name="filename" >
                        <br>
                        <div>
                            <input type="submit" id="editConfirmBtn" value="Confirm Edit" disabled>
                        </div>
                    </form>
                </div>
            </div>
        
            <div class="recentMsgsBlock">
                <h2> History </h2>
                {% for time in times %}

                <div class="postBlockHead">
                    <button class="postEditBtn" id="{{loop.index}}" type="button" onClick="loadEditBox(this.id)">EDIT</button>
                    <p class="postSubject" id="postSubject{{loop.index}}">{{ time['subject'] }}
                    <div class="postUser"></div>
                    <p class="postTime" id="postTime{{loop.index}}">Posted on: {{ time['timestamp'] }}
                </div> 
                <div class="postBlockBody">       
                    <p id="postMessage{{loop.index}}">{{ time['message'] }}</p>
                    <br>
                    {% if time['postImg'] != "NA" %}
                    <img class="postImg" id= "postImg{{loop.index}}" src="{{ time['postImg'] }}" style="visibility: visible">
                    {% else%}
                    <img class="postImg" id= "postImg{{loop.index}}" src="{{ time['postImg'] }}" style="visibility: hidden">
                    {% endif %}
                </div>

                {% endfor %}

            </div>
        </div>
        <footer>
            <div>
                <p>© Phi Van Lam Bui S2008156
                <p>OUA 2024 SP1 - Cloud Computing (RMIT)
            </div>
        </footer> 
    </body>
</html>